@import "@fontsource-variable/inter";
@import "@fontsource-variable/montserrat";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 768px) {
    .fc-toolbar-chunk:nth-child(3) { 
      display: none;
    }
  }

  .fc {
    overflow-x: auto;
  }
   */

.fc .fc-col-header-cell-cushion {
  font-weight: bold;
  color:#282828;
}

.fc .fc-col-header-cell {
  }  

/* En-tête de chaque jour dans la vue liste (mobile) */
.fc .fc-list-day-cushion {
  color: #282828;
  font-weight: 500;
}



.custom-select {
  /* appearance: none; */
  /* -moz-appearance: none; */
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}