@import "@fontsource-variable/inter";
@import "@fontsource-variable/montserrat";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.fc .fc-col-header-cell-cushion {
  font-weight: bold;
  color:#282828;
}


/* En-tête de chaque jour dans la vue liste (mobile) */
.fc .fc-list-day-cushion {
  color: #282828;
  font-weight: 500;
}



.custom-select {
  /* appearance: none; */
  /* -moz-appearance: none; */
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  cursor: pointer;
}


.fc-event-title,
.fc-event-title-container,
.fc-list-event-title {
  /* font-size: 12px !important; */
  white-space: normal !important;
  overflow-wrap: break-word;
}

.fc-timegrid-event .fc-event-main {
  font-size: 10px !important;
}